<% layout("/layouts/boilerplate") %>
<body>
<br />
<h3 class="offset-2">Create a New Listing</h3>

<div class="col-8 offset-2">

<form 
  method="POST" 
  action="/listings" 
  novalidate 
  class="needs-validation"
   enctype="multipart/form-data"  
>

  <div class="mb-3">
    <label class="form-label"><b><i>Title:</i></b></label>
    <input
      name="listing[title]"
      placeholder="Add a catchy title"
      type="text"
      class="form-control"
      required
    />
    <div class="valid-feedback">Title looks good!</div>
  </div>

  <div class="mb-3">
    <label class="form-label"><b><i>Description:</i></b></label>
    <textarea
      name="listing[description]"
      class="form-control"
      required
    ></textarea>
    <div class="invalid-feedback">write a short description!</div>
  </div>

  <div class="mb-3">
    <label class="form-label"><b><i>Upload Listing Image:</i></b></label>
    <input name="listing[image][url]"   type="file"  class="form-control" required/>
  </div>

  <div class="row">
    <div class="mb-3 col-md-4">
      <label class="form-label"><b><i>Price:</i></b></label>
      <input 
        name="listing[price]" 
        placeholder="1200" 
        class="form-control"
        type="text" required
      />
      
      </div>
      
    <div class="mb-3 col-md-8">
      <label class="form-label"><b><i>Country:</i></b></label>
      <input 
        name="listing[country]" 
        placeholder="India" 
        class="form-control"
        type="text" required
      />
      <div class="invalid-feedback">please enter country name!</div>
       </div>

    <div class="mb-3">
      <label class="form-label"><b><i>Location:</i></b></label>
      <input
        name="listing[location]"
        placeholder="Pondicherry, Tamil Nadu"
        class="form-control"
        type="text" required
      />
      <div class="invalid-feedback">please enter valid location!</div>
    </div>
  </div>

  <button class="btn btn-dark add-btn">Add</button>
  <br />

</form>
</div>